<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" /> 
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript">
      $( document ).ready(function() {
        console.log("ready");
        gameboardElement = document.getElementById("gameboard");
        ticTacToe = new TicTacToe(gameboardElement);
        ticTacToe.play();
      });
    </script>
    <script type="text/javascript" src="static/js/game.js"></script>
  </head>
  <body>
      <p>
       See if you can win at tic-tac-toe!
      </p>
      <div id="gameboard">
      </div>
  </body>
</html>
