{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{% if not (session is defined and session.get("username")) %}
<div id="login" class="maindiv">
<form method="POST" autocomplete="off" action="/login">
        <label for="name">Username: </label>
        <input type="text" name="name" /><br />
        <label for="pass">Password: </label>
        <input type="password" name="pass" /> <br />
        <input type="submit" value="Login" />
</form> 
<p> New user? <a href="/register">Register a new account.</a></p>
</div>
{% endif %}
{% endblock %}